.spots-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 20px;
    max-height: 870px;
    overflow: hidden;
    overflow-y: scroll;
}

.spot {
    border: 2px solid;
    /* width: 600px; */
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:aliceblue;
    color: black;
}

.spot:hover {
    background-color: lightgray;
}
.spot img {
    width:550px;
    border-radius: 5px;
}

.spot div {
   margin: 5px;
}

.new-listing-btn {
    width: auto;
    margin-left: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    background-color: rgb(4, 171, 227);
    border: rgb(4, 171, 227);
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.new-listing-btn:hover {
    color: black;
}
