.login-form {
    max-width: 500px;
    margin: 1rem auto;
    padding:4rem;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

.login-form label {
    display: block;
    font-size: 25px;
}
.login-form input{
    display: block;
    width: 100%;
    border: 0;
    padding: 0.5rem;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 20px;
}

.login-form button {
    width: auto;
    margin: 5px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    background-color: rgb(4, 171, 227);
    border: rgb(4, 171, 227);
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.login-form button:hover {
    color: black;
    font-weight: bold;
}
